*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: transparent;
  height: 1080px;
  width: 1920px;
  display: block;
}

canvas,
#optionsText {
  bottom: 70px;
}

canvas {
  position: absolute;
  left: 0px;
  display: none;
  z-index: 1;
  display: block;
}

#optionsText {
  z-index: 2;
  position: absolute;
  left: 0px;
  width: 960px;
  height: 75px;
  display: flex;
  color: aliceblue;
}
#optionsText > div {
  flex: 1;
  background-color: white;
  border: solid black;
  border-width: 5px;
  font-size: 1.8vh;
  padding: 0.5em;
  display: grid;
  place-content: center;
  text-align: center;
  padding: 2px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
}

/* scroll bar */
* {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 4px;
  }
}
